div, input, textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-background {
    background-color: dimgray;
    padding: 30px;
}

.form-box {
    width: 600px;
    height: 520px;
    background-color: white;
    max-width: 600px;
    margin: auto;
}


.form-input {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    float: left;
    padding: 10px;
}

.button {
    padding: 5px 40px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 52%;
}

.title-font {
    padding-left: 30px;
    font-size: 25px;
}

.type-font {
    padding-left: 30px;
}

.spanning {
    padding-left: 30px;
}


